* {
    margin: 0;
    padding: 0;
}

html,body, .section-1{
    min-height: 100% !important;
    height: 100%;
}
.nav-section {
    background-color: #212121;
    width: 100%;
    padding: 10px;
}

.section-1 {
    background-color: #212121;
    color: #fff;
    width: 50px;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
}

.section-1 ul {
    list-style: none;
}

.section-1 ul li {
    padding-bottom: 10px;
}